# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.next/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/**/*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Docker volumes
docker-volume/
mongo-data/

# Jest
coverage/
jest-cache/
jest-test-results.json

# Misc
*.local
*.swo
*.swp
